@media only screen and (max-width: 600px) {}

@font-face {
    font-family: "Aileron Regular";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-regular.otf') format('woff');
}

@font-face {
    font-family: "Aileron Italic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-italic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Thin";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-Thin.otf') format('woff');
}

@font-face {
    font-family: "Aileron UltraLight";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-UltraLight.otf') format('woff');
}

@font-face {
    font-family: "Aileron ThinItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-thinitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron UltraLightItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-ultralightitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Light";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-light.otf') format('woff');
}

@font-face {
    font-family: "Aileron LightItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-lightitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron SemiBold";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-SemiBold.otf') format('woff');
}

@font-face {
    font-family: "Aileron SemiBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-SemiBoldItalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Bold";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-bold.otf') format('woff');
}

@font-face {
    font-family: "Aileron BoldItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-bolditalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Black";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-black.otf') format('woff');
}

@font-face {
    font-family: "Aileron Heavy";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-heavy.otf') format('woff');
}

@font-face {
    font-family: "Aileron BlackItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-blackitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron HeavyItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-heavyitalic.otf') format('woff');
}

* {
    font-family: Aileron Regular;
}

/*FIM FONTES*/

/*HOME*/

body {
    background-color: white;
    margin: 0;
    padding: 0px;
}

#home{
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}

/*INICIO HEADER*/

header > section {
    float: right;
    font-size: 17px;
    margin-right: 100px;
    word-spacing: 15px;
    font-family: "Aileron Regular";
}

header > section > a {
    text-decoration: none;
    color: white;
    word-spacing: normal;
    padding: 1px 5px;
}

header {
    height: 80px;
    background-color: #4990e2;
    margin-bottom: 2em;
}


#header-esquerda{
    width: 50px;
    height: 80px;
    float: left;
    margin-left: 20%;
}

.logo-preta {
    width: 50px;
    height: 80px;
}

#header-direita{
    height: 80px;
    margin-right: 20%;
    word-spacing: normal;
    margin-top: 1em;
}


/* FIM HEADER */
/* INICIO FORMS*/

#formulario {
    text-align: center;
    height: 350px;
    display: flex;
    justify-content: center;
}

.sabor{
    width: 300px;
    box-shadow: 0px 0px 3px 0px;
    padding: 1%;
}

.tamanho{
    width: 300px;
    box-shadow: 0px 0px 3px 0px;
    padding: 1%;
}

.endereço{
    width: 300px;
    box-shadow: 0px 0px 3px 0px;
    padding: 1%;
}


.maps {
    width: 100%;
    height: 350px;
}

.botao{
    background-color: #00244d;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    font: normal normal 18px/40px "Aileron Regular", sans-serif;
    text-decoration: none;
}


.botao-confirma {
    background:#4a90e2 no-repeat; 
    cursor:pointer; 
    width: 150px; 
    height: 40px; 
    border: none; 
    color:white;
    font: normal normal 18px/40px "Aileron Regular", sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#logo-preta{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2%;
}

.logomarca-preta{
    height: 15%;
    width: 15%;
}

#footer-esquerda{
    text-decoration: none;
    color: #54565A;
    float: left;
    font-size: 15px;
    word-spacing: 20px;
    margin-left: 15%;
}

footer > section > a {
    text-decoration: none;
    color: #54565A;
    word-spacing: normal;
}

#footer-direita{
    float: right;
    font-size: 15px;
    text-decoration: none;
    color: #54565A;
    margin-right: 15%;
}

.icones-social{
    width: 25px;
    height: 25px;
}