/*INICIO FONTES*/

@media only screen and (max-width: 600px) {}

@font-face {
    font-family: "Aileron Regular";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-regular.otf') format('woff');
}

@font-face {
    font-family: "Aileron Italic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-italic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Thin";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-Thin.otf') format('woff');
}

@font-face {
    font-family: "Aileron UltraLight";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-UltraLight.otf') format('woff');
}

@font-face {
    font-family: "Aileron ThinItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-thinitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron UltraLightItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-ultralightitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Light";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-light.otf') format('woff');
}

@font-face {
    font-family: "Aileron LightItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-lightitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron SemiBold";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-SemiBold.otf') format('woff');
}

@font-face {
    font-family: "Aileron SemiBoldItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/Aileron-SemiBoldItalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Bold";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-bold.otf') format('woff');
}

@font-face {
    font-family: "Aileron BoldItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-bolditalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron Black";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-black.otf') format('woff');
}

@font-face {
    font-family: "Aileron Heavy";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-heavy.otf') format('woff');
}

@font-face {
    font-family: "Aileron BlackItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-blackitalic.otf') format('woff');
}

@font-face {
    font-family: "Aileron HeavyItalic";
    font-style: normal;
    font-weight: normal;
    src: local(Aileron), url('fontes/aileron-heavyitalic.otf') format('woff');
}

* {
    font-family: Aileron Regular;
}

a:hover {
    border-bottom: 2px solid #4a90e2;
}

header > nav > a:hover {
    border-bottom: 2px solid white;
}

/*O PEÇA ONLINE TAMBEM FICOU COM O HOVER BRANCO, QUERIA DEIXAR AZUL 
/* PORQUE ISSO?

header>nav>a:hover:after {
    width: 49.3px;
    height: 0;
    border: solid 3px #ffffff;
}
*/

/*FIM FONTES*/

/*HOME*/

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0px;
}

#home{
    background-image: url('imagens/fundo.png');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}

/*INICIO HEADER*/

header > nav {
    float: right;
    font-size: 17px;
    margin-right: 100px;
    word-spacing: 15px;
    font-family: "Aileron Regular";
}

header > nav > a {
    text-decoration: none;
    color: white;
    word-spacing: normal;
    padding: 1px 5px;
}

.header-index {
    height: 80px;
    margin-top: 25px;
}

/*FIM DO HEADER*/

/* INICIO BOTOES */

.botao{
    background-color: #4a90e2;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    font: normal normal 18px/40px "Aileron Regular", sans-serif;
    text-decoration: none;
}

.botao-logo{
    background-color: #4a90e2;
    border-radius: 3px;
    width: 245px;
    height: 55px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: normal normal 18px/55px "Aileron Regular", sans-serif;
}
/*FIM BOTOES*/

/*INICIO LOGO*/
section#logo {
    text-align: center;
    height: 550px;
    margin-top: 5%;
}

.texto-abaixo-logo{
    color: #d2d2d2;
    height: 109px;
    width: 655px;
    text-align: center;
    margin: auto;
    font-family: aileron;
    font-size: 18px;
    line-height: 1.89;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    font-weight: 50;   
    margin-top: 1em;
    margin-bottom: 1em;
}
/*FIM LOGO*/

/*INICIO CAIXAS DESCRITIVAS DE DIFERENCIAIS*/
section#diferenciais {
    text-align: center;
    height: 350px;
    display: flex;
    justify-content: center;
}

section>figure {
    float: left;
}

#diferenciais>figure {
    width: 225px;
    height: 325px;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    padding: 2em;
    margin: 1em;
}

.saiba-mais{
    text-decoration: none;
    height: 55px;
    color: black;
}

.diferenciais-titulo {
    color: #2c2e30;    
    font-family: Aileron;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
}

.diferenciais-titulo strong {
    width: 158px;
    height: 63px;
    font-family: Aileron;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #4a90e2;
}
/*FIM CAIXAS DESCRITIVAS DE DIFERENCIAIS*/

/*INICIO DEPOIMENTO*/
.retangulo-depoimento{
    background-color: #4a90e2;
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#depoimento-texto{
    float: left; 
    margin-left: 20%;
    margin-top: 10%;
}

.nosso-compromisso{
    color: white;
}

.texto-depoimento{
    width: 250px;
    margin-top: 25%;
    font-size: normal;
    margin-bottom: -15px;
}

.nome-pessoa{
    color: white;
    font-size: medium;
}

.profissao{
    font-size: small;
}

#depoimento-foto{
    float: right;
    margin-right: 30%;
    margin-top: 15%;
}

.foto-depoimento{
    height: 350px;
    width: 330px;
    border-radius: 5px;
}
/*FIM DEPOIMENTO*/

/*INICIO LOGO PRETA*/
#logo-preta{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.logomarca-preta{
    height: 15%;
    width: 15%;
}
/*FIM LOGO PRETA*/

/*INICIO FOOTER*/
#footer-esquerda{
    text-decoration: none;
    color: #54565A;
    float: left;
    font-size: 15px;
    word-spacing: 20px;
    margin-left: 15%;
}

footer > section > a {
    text-decoration: none;
    color: #54565A;
    word-spacing: normal;
}

#footer-direita{
    float: right;
    font-size: 15px;
    text-decoration: none;
    color: #54565A;
    margin-right: 15%;
}

.icones-social{
    width: 25px;
    height: 25px;
}
/*FIM FOOTER*/


/*PAGINA DE PEDIDOS*/
/*HEADER*/
header > section {
    float: right;
    font-size: 17px;
    margin-right: 100px;
    word-spacing: 15px;
    font-family: "Aileron Regular";
}

header > section > a {
    text-decoration: none;
    color: white;
    word-spacing: normal;
    padding: 1px 5px;
}

.header-pedidos {
    height: 80px;
    background-color: #4990e2;
    margin-bottom: 2em;
}

#header-esquerda{
    width: 50px;
    height: 80px;
    float: left;
    margin-left: 20%;
}

.logo-preta {
    width: 50px;
    height: 80px;
}

#header-direita{
    height: 80px;
    margin-right: 10%;
    word-spacing: 10px;
    margin-top: 1em;
}


/* FIM HEADER */
/* INICIO FORMS*/

.sabor-tamanho{
    max-width: 100%;
    width: 44%;
    height: 60px;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.14);
    float: left;
    margin: 0em 2em 0em 2em;
    text-align-last: center;
    line-height: 60px;
    border-radius: 3px;
}

.endereço { 
    max-width: 100%;
    width: 93%;
    height: 60px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    float: left;
    margin: 2em em 2em 2em;    
    text-align: center;
    display: flex;
    line-height: 60px;
    border-radius: 3px;
    
}

.maps {
    margin: 1em 0em 1em 0em;
}

.botao-escuro{
    background-color: #00244d;
    border-radius: 3px;
    width: 150px;
    height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    font: normal normal 18px/40px "Aileron Regular", sans-serif;
    text-decoration: none;
}

.botao-confirma {
    background:#4a90e2 no-repeat; 
    cursor:pointer; 
    width: 150px; 
    height: 40px; 
    border: none; 
    color:white;
    font: normal normal 18px/40px "Aileron Regular", sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin: 1em;
}


/* PAGINA SABORES */ 

#grid-sabores {
    display: grid;
    grid-template-columns: auto auto;
    background-color: aliceblue;
    margin: 5em;
    gap: 5em;
}

.grid-sabor {
  max-width: 80%;
  text-align: left;
}


/* INICIO CONTATO */

